<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Congrats {{user.first_name}}!  You've logged in</h1>
    <a href="/logout">logout</a>


    <div id="forms">
        <div class="form">
            <h2>add a message</h2>
            <form action="/add_message" method="POST">
                {% csrf_token %}
                <textarea name="text" placeholder="Write your message here dummy!" cols="30" rows="10"></textarea> <br>
                <input type="submit" name="Post a message">
            </form>
        </div>
    </div>

    {% for message in user_messages %}

    <h4>{{message.user.first_name}} {{message.user.last_name}} - {{message.created_at}}</h4>
    <p>{{message.text}}</p>

    <a href="/message/cast_like/{{message.id}}">like this post!</a>
    <td>{{message.user_likes.count}} votes</td>

    {% for comment in message.post_comments.all %}
    <h5>user: {{comment.user.first_name}} {{comment.user.last_name}}</h5>
    <p>{{comment.comment}}</p>
    {% endfor %}

  
    <h2>add a comment</h2>
    <form action="/add_comment/{{message.id}}" method="POST">
        {% csrf_token %}
        <textarea name="comment" placeholder="Write your comment here dummy!" cols="30" rows="7"></textarea> <br>
        <input type="submit" name="Post a comment">
    </form>
    {% endfor %}




    {% for comment in post.post_comments.all %}
        <p>{{comment.comment}}</p>
        <p>poster: {{comment.poster.first_name}} {{comment.poster.last_name}}</p>
        <a href="/delete/{{comment.id}}">Delete</a>
    {% endfor %}


</body>
</html>